header {
	background-color: rgb(14, 34, 87);
}

.card-container {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
}
.card {
	width: 17rem;
	height: auto;
}
.red-dot {
	height: 20px;
	width: 20px;
	background-color: #ff0000;
	border-radius: 50%;
	display: inline-block;
}
.green-dot {
	height: 20px;
	width: 20px;
	background-color: #00ff00;
	border-radius: 50%;
	display: inline-block;
}
.card-text {
	display: flex;
	align-items: center;
}
.search-bar {
	flex: 1;
}
